/* Structural */
body {
    font-family: system-ui, 'Segoe UI', 'Open Sans', sans-serif;
    background-color: rgb(98, 94, 140);
}

#content {
    background-color: rgb(218, 192, 167);
    width: 80%;
    padding: 2%;
    margin:auto;
    border-radius: 15px;
    border: 5px solid rgb(253, 165, 133);
    box-shadow: 10px 10px 10px rgb(47, 50, 79)
}
/* Navigation */


/* Typography */
h1 {
    color: darkslateblue;
}

h2  {
    color: darkslateblue;
}

footer  {
    color: navy;
}

a   {
    color: rgb(141, 55, 24);
    text-decoration: none;
}